# Archivos de Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Binarios y compilados
bin/
obj/
Debug/
Release/

# Paquetes NuGet
packages/
*.nupkg
*.snupkg
*.nuspec
project.lock.json

# Publicaciones
publish/
wwwroot/lib/
logs/
dist/

# Configuración local
appsettings.Development.json
.env
*.db

# Archivos del sistema
Thumbs.db
*.DS_Store
